@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

h1 {
  font-size: 2.5em;
  font-weight: lighter;

  color: #3b3b3b;
}

p {
  color: #3b3b3b;
}

hr {
  background-color: #9ed5c5;
  height: 1px;
  border: none;
  width: 50%;
  margin: auto;
}

/* 
main-visual
*/
#main-visual {
  background: #9ed5c5;
  width: 100%;
  height: 80vh;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#main-visual h1 {
  font-size: 4em;
  text-align: center;
  color: white;
}

#main-visual p {
  font-size: 2em;
  text-align: center;
  color: white;
}

/* menu */
#main-visual #menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#main-visual #menu li {
  width: 23%;
  list-style: none;
  font-size: 2em;
  margin-top: 50px;
  color: white;
}

#main-visual #menu a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

a.change-color:hover {
  background-color: rgba(150, 146, 146, 0.1);
}

.top-heading {
  text-align: center;
  width: 100%;

  text-shadow: 3px 1px 0px #9ed5c5;
}

#profile .top-heading::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

#skills .top-heading::before {
  content: "\f121";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

#works .top-heading::before {
  content: "\e51d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

#contact .top-heading::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}

#contact .top-heading {
  text-shadow: none;
}

/* 
profile
*/
#profile {
  margin-top: 3%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

#profile #name {
  width: 70%;
  text-align: center;
  margin-top: 1%;
}

#profile #overview {
  width: 70%;
  text-align: center;
  margin-top: 1%;
}

/* よく使う技術・ソフトウェア */
#profile ul {
  list-style: none;
  display: flex;
}

#profile li {
  padding: 5px;
}

.icon img {
  width: 100px;
}

/*
skills
*/
#skills {
  margin-top: 3%;
}

#skills #skills-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

#skills-item article {
  width: 30%;
  margin-top: 3%;

  text-align: center;
}

.skill-desc {
  text-align: left;
}

/* 
works
*/
#works {
  margin-top: 3%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

#works h1 {
  width: 100%;
  text-align: center;
}

#works article {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#works p {
  text-align: left;
}

/* 
contact
*/
#contact {
  margin-top: 3%;

  display: flex;
  flex-flow: column;
  align-items: center;

  background-color: #232323;
}

#contact h1 {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 10px;
}

#contact #email {
  text-align: center;
  width: 30%;
  margin-top: 1%;
  font-size: 1.5em;
  color: white;
  padding: 20px;
  background-color: gray;
}
